{% extends 'base.html.twig' %}
{% block title %}{{trick.getName()}}{% endblock %}

{% block body %}
	<div id="trick-content">
		<section id="trick-header">
			<img id="trick-img-header" src="{{asset('images/snow.jpg')}}" />
			<h1 id="trick-header-title">{{trick.getName()}} </h1>
		</section>
		<section id="trick-media">
			{% for video in trick.getVideoList() %}
	        	<embed type="video/webm" src="{{video}}"/>
	    	{% endfor %}


			{% for image in trick.getImageList() %}
	        	<img src="{{asset('uploads/trick/'~ image ~'')}}" />
	    	{% endfor %}
	    </section>

		<p id="trick-description">{{trick.getDescription()}}</p>

		<section id="trick-additionalInfo">
	    	<ul>
	    		<li class="trick-group">{{trick.getCategory().getName()}}</li>
	    		<li class="trick-date">créer le {{trick.getCreatedAt()|date('Y-m-d h:m')}}</li>
	    		{% if trick.getEdited == 'yes' %}
    				<li class="trick-date">éditer le {{trick.getEditedAt()|date('Y-m-d h:m')}}</li>
				{% endif %}
	    	</ul>
	    </section>
	</div>
{% endblock %}
