{% extends 'base.html.twig' %}
{% block title %}{{trick.getName()}}{% endblock %}

{% block body %}
	<div id="trick-content">
		<section id="trick-header">
			{% if app.user %}
    			<div id="btn-edit"><a href="/trick/edit/{{trick.id}}"><i class='fas fa-edit'></i></a></div>
			{% endif %}
			
			<img id="trick-img-header" src="{{asset('images/snow.jpg')}}" />
			<h1 id="trick-header-title">{{trick.getName()}} </h1>
		</section>
		<section id="trick-media">
			{% for video in trick.getVideoList() %}
	        	<embed type="video/webm" src="{{video}}"/>
	    	{% endfor %}


			{% for image in trick.getImageList() %}
	        	<img src="{{asset('uploads/trick/'~ image.getName() ~'')}}" />
	    	{% endfor %}
	    </section>

		<p id="trick-description">{{trick.getDescription()}}</p>

		<section id="trick-additionalInfo">
	    	<ul>
	    		<li class="trick-group">{{trick.getCategory().getName()}}</li>
	    		<li class="trick-date">créer le {{trick.getCreatedAt()|date('Y-m-d h:m')}}</li>
	    		{% if trick.getEdited == 'yes' %}
    				<li class="trick-date">éditer le {{trick.getEditedAt()|date('Y-m-d h:m')}}</li>
				{% endif %}
	    	</ul>
	    </section>

	    <ul id="comment-list">
	       
	    </ul>
	    {% if app.user %}
    			{{ form_start(form) }}		
    			{{ form_end(form) }}
		{% endif %}
	</div>
{{dump(app.request.httpHost)}}
	<script type="text/javascript">
	    $.ajax({
			url : 'http://127.0.0.1:8000/api/message/{{trick.id}}/1',
			type : 'GET',
			dataType : 'json',
			success : function(objList, statut){
				objList = JSON.parse(objList);
				var i = 0;
				console.log(objList);
				while(i < objList.length){
					$("#comment-list").append("<li class='clearfix'><div id='comment-user-info'> <img src='/uploads/avatar/" + objList[i].author.avatar + "' /><p class='comment-username'>" + objList[i].author.username + "</p></div><div id='comment-content'> <p id='comment-text'>" + objList[i].content + "</p></div> </li>");
					i++;
				}
			},

			error : function(resultat, statut, erreur){

			}

	    });
	</script>
{% endblock %}
